<div class="container-fluid">
  <app-page-title
    title="Profile"
    [breadcrumbItems]="menuAccountItems"></app-page-title>

  <div class="card shadow-sm mb-0">
    <form (ngSubmit)="ngSubmit()" [formGroup]="group">
      <div class="card-body p-5">
        <div class="row justify-content-end">
          <div class="col-12">
            <h4 class="card-title">Actualizar contraseña</h4>
            <p class="card-title-desc">Actualiza los datos de contraseña</p>
          </div>
          <div class="col-md-6 mb-3">
            <label for="password"> Contraseña </label>
            <input
              id="password"
              formControlName="password"
              type="password"
              class="form-control"
              autocomplete="new-data"
              [ngClass]="ngClassValidate(group,'password')" />
            <div *ngIf="submit && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Contraseña requerida</div>
              <div *ngIf="f.password.errors.minlength">Contraseña muy corta</div>
              <div *ngIf="f.password.errors.pattern">Contraseña invalida, necesita mayuscula, minusculas, numeros</div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label for="passwordConfirmation">Confirmacion de contraseña</label>
            <input
              id="passwordConfirmation"
              formControlName="passwordConfirmation"
              type="password"
              class="form-control"
              autocomplete="new-data"
              [ngClass]="ngClassValidate(group,'passwordConfirmation')"
              />
            <div *ngIf="submit && f.passwordConfirmation.errors" class="invalid-feedback">
              <div *ngIf="f.passwordConfirmation.errors.required">Contrasena requerida</div>
              <div *ngIf="f.passwordConfirmation.errors.notSame">Contraseña no coinciden</div>

            </div>
          </div>



          <div class="col-md-2">
            <button type="submit" class="btn w-100 btn-primary">submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
