.fondo {
    position: relative;
    background-image: url(../../../../assets/images/fondoregistrar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-block: 5%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    width: 50%;
}